<div *ngFor="let fotos of Photos" > 
    <div class="w3-third w3-container" >
        <img src="{{fotos.url}}"  width="100px" height="100px" class="w3-hover-opacity"><br><br>
        <img src="{{fotos.thumbnailUrl}}"  width="100px" height="100px" class="w3-hover-opacity"><br>
        <!-- <div class="w3-container w3-white"> -->
            <b> {{fotos.albumId}}</b>  <br>
            <b> {{fotos.id}}</b><br>
            <b> {{fotos.title}}</b> <br>
        <!-- </div> -->
      </div> 
  
</div>

