<div *ngFor="let post of Posts; index as i" class="  w3-third w3-container w3-margin-bottom"  >
  <img src="" alt="" style="width:100%" class="w3-hover-opacity">
  <div class="w3-main" style="margin-left:300px">
      <p> 
          <b>{{i}}</b><br>
          <!-- <b>{{post.id}}</b><br>             -->
          <b>{{post.title}}</b><br>        
          <b>{{post.body}}</b><br>            
        </p>
        <button [routerLink]="['/post',post.id ]" class="w3-button w3-black">Mostrar mas</button>
    
  </div>
 
</div>
